h3 {
    margin-top: 8px;
}

.navbar {
    background-color: #5755d9;
    color: #ffffff;
    padding: 0.25em;
}

.navbar .btn.btn-link {
    color: #ffffff;
}

.navbar .btn.btn-link.sitename {
    font-size: 1.2em;
}

button {
    border: none;
    border-radius: 2px;
}

.btn.btn-primary:hover {
    background-color: #5755d9c4;
}

.avatar {
    border: 1px solid #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    padding: 3em 0;
}

.info {
    font-style: italic;
    padding: 1em;
}

#add-candidate {
    margin: 0.5em 0;
}

footer {
    margin: 1em;
    bottom: 0;
}

.hour {
    font-size: 0.8em;
    color: #ffffff;
}

.disabled {
    background-color: #a25959;
    cursor: not-allowed;
}

.enabled {
    background-color: #5b9b5b;
    cursor: pointer;
}

.cancel {
    cursor: pointer;
}

.cancel:hover {
    background-color: #f36363;
}

#noty_layout__topRight {
    top: 50px !important;
}

hr {
    border-top: 1px solid #cfcdcd;
    width: 100%;
    margin: 16px 0;
}

.options > .option {
    padding: 0;
    margin: 0;
}

#create-submit {
    margin-top: -4px;
}

.mgmt-button {
    margin: 4px 0;
}